@font-face {
    font-family: 'Calculator.ttf';
    src: url(/Calculator.ttf);
}
#screen{
    width: 350px;
    background-color: rgb(141, 201, 95);
    border-color: rgb(104,122,130);
    border-width: 10px;
    font-size: 50px;
    font-family: 'Calculator.ttf',sans-serif;
    
}
button{
    height: 70px;
    width: 70px;
    font-size: 60px;
    
 

}
#bck-container{
    width: 400px;
    border-radius: 20px;
    height: 700px;
   
}
#border{
    background-color: rgb(57, 72, 77);
    border-radius: 20px 20px 0px 0px ;
    padding: 10px;
    
}
#reset{
    height: 50px;
    width: 50px;
    border-radius: 30px;
    font-size: 20px;
}