#screen{
    width: 350px;
    background-color: rgb(141, 201, 95);
    border-color: rgb(104,122,130);
    border-width: 10px;
}
button{
    height: 60px;
    width: 60px;
    font-size: 47px;
}
#bck-container{
    width: 400px;
    border-radius: 20px;
}
#border{
    background-color: rgb(57, 72, 77);
    border-radius: 20px 20px 0px 0px ;
}