#screen{
    width: 350px;
    background-color: rgb(141, 201, 95);
    border-color: rgb(104,122,130);
    border-width: 10px;
    font-size: 40px;
}
button{
    height: 70px;
    width: 70px;
    font-size: 60px;
    
 

}
#bck-container{
    width: 400px;
    border-radius: 20px;
    height: 660px;
   
}
#border{
    background-color: rgb(57, 72, 77);
    border-radius: 20px 20px 0px 0px ;
    padding: 10px;
    
}